* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 30px;
}
header h1 {
    font-size: 7vw;
}
section {
    display: -webkit-flex;
    display: flex;
}
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    background-color: dodgerblue;
    text-align: center;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
}
nav ul li button {
    padding: 10px;
    width: 100px;
    border: 0px solid silver;
    background-color: dodgerblue;
    color: #fff;
}
nav ul li button:hover {
    background-color: white;
    color: dodgerblue;
}
#section-index {
    width: 75%;
    margin: 25px auto;
    border: 1px solid black;
}
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    /*background-color: lightgray;*/
    padding: 10px;
}
.post p {
    text-align: justify;
}
.post {
    width: 300px;
    display: inline-block;
    background-color: aliceblue;
    padding: 10px;
    margin: 5px;
}
.imgs {
    border-bottom: 1px;
    border-color: black; 
}
.imgs img {
    width: 300px;
    height: 200px;
}
.forms {
    -webkit-flex: 3;
    -ms-flex: 3;
    margin: 10px;
    padding: 10px;
}
.form-st {
    display: block;
}
label {
    margin-top: 5px;
}
input {
    margin-top: 5px; 
}
footer {
    background-color: dodgerblue;
    text-align: center;
    color: white;
    padding: 10px;
}
table, th, td {
    border: 1px solid black;
    margin: 5px;
}
@media (max-width: 600px) {
    section {
    -webkit-flex-direction: column;
    flex-direction: column;
    }
    li {
        display: inline-block;
    }
    nav ul {
        width: 550px;
    }
    nav {
        overflow-x: scroll;
    }
    #section-index {
    width: 90%;
}
}