* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 30px;
}
header h1 {
    font-size: 5vw;
}
section {
    display: -webkit-flex;
    display: flex;
}

a {
    text-decoration: none;
    margin: 0px;
}

#signUpOut {
    background-color: dodgerblue;
    text-align: right;
    overflow: auto;
    padding: 0px 20px 0px 0px;
    margin: 0px;
    font-size: 12px;
}

#signUpOut a {
    display: inline-block;
    padding: 10px 5px 5px 5px;
    margin: 0;
    text-decoration: none;
    background-color: dodgerblue;
    color: #fff;
}

#signUpOut a:hover {
    background-color: white;
    color: dodgerblue;
}

nav {
    background-color: dodgerblue;
    text-align: center;
    overflow: auto;
}

nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    background-color: dodgerblue;
    color: #fff;
}

nav ul li:hover {
    background-color: white;
    color: dodgerblue;

}

#section-index {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

video {
    padding: 10px;
}
.videos {
    overflow: auto;
    float: left;
    margin: 5px;
    padding: 20px;
    width: 250px;
    margin: 10px;
}
audio {
    margin: 10px;
}
.sonidos {
    overflow: auto;
    margin: 5px;
    padding: 20px;
    margin: 10px;
}

.forms {
    margin: 10px;
    padding: 10px;
}
.form-st {
    display: block;
}
label {
    margin-top: 5px;
}
input {
    margin-top: 5px; 
}

/* ====== Portadas de inicio ===== */
.portadas {
    
    width: 200px;
    margin: 10px;
    color: gray;
}

.portadas .port-body img {
    width: 150px;
}

.portadas img:hover {
    color: red;
}

.portadas .port-head, .port-body, .port-footer {
    text-align: center;
    padding: 5px;
}

.portadas .port-head {
    background-color:  dodgerblue;
    color: #fff;
}

.portadas .port-head h3 {
    padding: 10px;
}

.portadas .port-footer {
    background-color:  dodgerblue;
    color: #fff;
}

.portadas .port-footer a {
    display: block;
    padding: 10px;
    color: #fff;
}

.portadas .port-footer a:hover {
    background-color:  dodgerblue;
    color: #fff;
    font-weight: bold;
    font-family: arial;
}

.portadas:hover {
    box-shadow: 2px 2px 2px 2px silver;
}

/* ====== Portadas de imagenes ===== */

.port-imagenes {
    width: 200px;
    margin-left: 5px;
}
.port-imagenes .port-body {
    clear: both;
    border: none;
    margin: 0px;
}

.port-imagenes .port-body img {
    width: 100%;
    height: auto;
}

.port-imagenes .port-head, .port-body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.port-imagenes .port-head {
    background-color:  dodgerblue;
    color: #fff;
}

.port-imagenes .port-head h3 {
    padding: 10px;
}

.port-imagenes .port-footer {
    /*background-color:  dodgerblue;
    position: fixed;
    bottom: 0;
    */
    border: 1px solid black;
    color: #fff;
    text-align: left;
    font-size: 12px;
    margin-bottom: 0px;
}

.port-imagenes .port-footer a {
    display: block;
    padding: 10px;
    color: #fff;
}

.port-imagenes .port-footer a:hover {
    background-color:  dodgerblue;
    color: #fff;
    font-weight: bold;
    font-family: arial;
}

.port-imagenes:hover {
    box-shadow: 2px 2px 2px 2px silver;
}
/* ====== Portadas de imagenes ===== */

footer {
    background-color: dodgerblue;
    text-align: center;
    color: white;
    padding: 10px;
}
table, th, td {
    border: 1px solid black;
    margin: 5px;
}
@media (max-width: 600px) {
    section {
    -webkit-flex-direction: column;
    flex-direction: column;
    }

    li {
        display: inline-block;
    }
    nav ul {
        width: 550px;
    }

    #section-index {
        width: 90%;
    }
}